In [1]:
!pip install selenium

Requirement already satisfied: selenium in d:\new folder\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in d:\new folder\lib\site-packages (from selenium) (1.25.11)

In [2]:
#LET REQRURIED LALARARIES
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
# go to link= https://chromedriver.chromium.org/downloads

In [4]:
# lets frist connect to the web drivers
driver= webdriver.Chrome(r"C:\Users\G\Downloads\chromedriver_win32\chromedriver.exe")

In [5]:
# spectfying the URL of the webpage to be scraped
url= ("https://www.myntra.com/men-casual-shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6012.0_11675.0_6012.0%20TO%2011675.0")

In [6]:
# let open the webpage through our web drivers
driver.get(url)

In [7]:
brand_name=[]
production_description=[]
price_brand=[]

In [8]:
# let extract all the tags having the company name
brand_tag= driver.find_elements_by_xpath("//h3[@class='product-brand']")
brand_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="19c02f021c6ff3ce2b7b5e090bd0a780", element="d389783a-0a06-4ed0-acb8-164329d1bb30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="19c02f021c6ff3ce2b7b5e090bd0a780", element="f306a492-d145-45d9-a4ff-27fd84d26cc9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="19c02f021c6ff3ce2b7b5e090bd0a780", element="f62447a6-7a89-46fe-a707-5f349fa88995")>,
 <selenium.webdriver.remote.webelement.WebElement (session="19c02f021c6ff3ce2b7b5e090bd0a780", element="1bf34e63-ff56-4c58-a40c-878310d9d673")>]

In [9]:
#let extract all tags having brand -name
for i in brand_tag:
    brand=i.text
    brand_name.append(brand)
brand_name[0:6]

['Nike', 'Nike', 'Nike', 'Nike', 'Geox', 'Geox']

In [10]:
# let extract all the tags having the production-description
production_tag= driver.find_elements_by_xpath("//h4[@class='product-product']")
production_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="19c02f021c6ff3ce2b7b5e090bd0a780", element="ab646ed5-c959-4c1b-b12a-84e6a344b135")>,
 <selenium.webdriver.remote.webelement.WebElement (session="19c02f021c6ff3ce2b7b5e090bd0a780", element="a03f8a76-72a4-47c8-a3c8-4574ba728357")>,
 <selenium.webdriver.remote.webelement.WebElement (session="19c02f021c6ff3ce2b7b5e090bd0a780", element="be5e7381-9154-4645-8527-2e3d794492f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="19c02f021c6ff3ce2b7b5e090bd0a780", element="ce640bcd-2605-4c02-83f8-74ef0eac3fc3")>]

In [11]:
#let extract all tags having production_description
for i in production_tag:
    production=i.text
    production_description.append(production)
production_description[0:6]

['Men Solid SKYVE MAX Sneakers',
 'Men CHALLENGER OG Sneakers',
 'Men JORDAN DELTA Sneakers',
 'Men AIR MAX 90 Sneakers',
 'Leather Mid-Top Chelsea Boots',
 'Men Solid Leather Sneakers']

In [12]:
# let extract all the tags having the price-description
price_tag= driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")
price_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="19c02f021c6ff3ce2b7b5e090bd0a780", element="ea9cd4b4-ae90-40eb-8b71-c01a09a54653")>,
 <selenium.webdriver.remote.webelement.WebElement (session="19c02f021c6ff3ce2b7b5e090bd0a780", element="e40da14e-feb8-487a-ae9c-08ab46e965a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="19c02f021c6ff3ce2b7b5e090bd0a780", element="ce23b878-7664-48fa-98ab-7141d6a0af9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="19c02f021c6ff3ce2b7b5e090bd0a780", element="d4394243-1665-4e3e-95a7-715090895c6a")>]

In [13]:
#let extract all tags having price_description
for i in price_tag:
    price=i.text
    price_brand.append(price)
price_brand[0:6]

['Rs. 6999', 'Rs. 6099', 'Rs. 8199', 'Rs. 7999', 'Rs. 8999', 'Rs. 6599']

In [14]:
print(len(brand),
      len(production),
      len(price))

16 25 9

In [16]:
shoes=pd.DataFrame({})
shoes['brand']=brand_name[0:10]
shoes['production']=production_description[0:10]
shoes['price']=price_brand[0:10]
shoes

              brand                     production      price
0              Nike   Men Solid SKYVE MAX Sneakers   Rs. 6999
1              Nike     Men CHALLENGER OG Sneakers   Rs. 6099
2              Nike      Men JORDAN DELTA Sneakers   Rs. 8199
3              Nike        Men AIR MAX 90 Sneakers   Rs. 7999
4              Geox  Leather Mid-Top Chelsea Boots   Rs. 8999
5              Geox     Men Solid Leather Sneakers   Rs. 6599
6  ADIDAS Originals         Men Superstar Sneakers   Rs. 8799
7              ALDO            Men Leather Loafers   Rs. 6499
8      Kenneth Cole          Men Textured Sneakers   Rs. 6013
9  ADIDAS Originals            Men NMD R1 Sneakers  Rs. 10399